@font-face {
  font-family: 'Mentimum';
  src: url('/assets/font/mentimum.otf') format('opentype');
}
@font-face {
  font-family: 'Realce';
  src: url('/assets/font/realce.otf') format('truetype');
}

@import "../../../components/GlobalStyles/variables";

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
    width: 100%;
}

.header-wrapper {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    position: relative;
    z-index: 999;

    @include respond(phone) {
        width: 100%;
        padding: 0;
        margin: 0 40px;
    }
}

.header-logo {
    display: flex;
    align-items: center;
    
    &:hover img{
        opacity: 0.8;
        transition: opacity 0.3s linear;
    }

    @include respond(phone) {
        img {
            width: 100px;
            height: 100px;
        }
    }
}

.header-icons {
    display: flex;
    gap: 30px;
    align-items: center;

    @include respond(phone) {
        gap: 15px;
    }
}


// Cart btn
.header-cart {
    position: relative;
    cursor: pointer;
}

.icon {
    font-size: 2rem;
    color: #000;

    @include respond(phone) {
        font-size: 1.2rem;
    }
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart-pop-up {
    width: 480px;
    background-color: #fff;
    padding: 24px;
    border-radius: 28px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

    @include respond(phone) {
        left: 41.5%;
        top: 41.5%;
        width: 340px;
        padding: 16px;
    }
}

.top {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;

    p {
        font-family: "Realce";
        font-size: 2.4rem;
        line-height: 1;
    }
    span {
        background-color: var(--yellow-color);
        color: #000;
        padding: 9px 12px;
        border: 2px solid #000;
        border-radius: 50%;
        line-height: 1;
        height: fit-content;
        cursor: pointer;
        box-shadow: 2px 2px 0px #000;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
            transform: translate(2px, 2px);
            box-shadow: 0 0 0 #000;
        }
    }
    .icon-close {
        line-height: 0.7;
    }

    @include respond(phone) {
        p {
            font-size: 1.8rem;
        }
        span {
            padding: 4px 10px;
        }
        .icon-close {
            font-size: 1.2rem;
        }
    }
}

.middle {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 16px 0;

    @include respond(phone) {
        padding: 14px 0;
        margin: 10px 0;
    }
}

.order {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;
}

.order-img {
    width: 70px;
    height: 70px;
    border: 2px solid #000;
    border-radius: 12px;

    @include respond(phone) {
        width: 50px;
        height: 50px;
    }
}

.order-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.order-name {
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1;
    }
    p {
        font-size: 1rem;
    }
    span {
        cursor: pointer;
        color: red;
        font-size: 1rem;
        font-weight: 500;
    }
    &:hover span {
        opacity: 0.5;
    }

    @include respond(phone) {
        h3 {
            font-size: 1rem;
        }
        p {
            font-size: 0.8rem;
        }
        span {
            font-size: 0.8rem;
        }
    }
}

.quantity {
    width: auto;
    height: auto;
}

.input {
    display: block;
    width: 60px;
    height: 50px;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    border: 2px solid #000;

    @include respond(phone) {
        width: 60px;
        height: 40px;
        font-size: 0.8rem;
    }
}

.total-price {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
        font-size: 1rem;
        font-weight: 300;
    }
}

.price {
    font-size: 1rem;
    font-weight: 700;
}

.emptyCart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    color: #000;
}

.checkout-btn {
    margin-top: 16px;
}

.checkout {
    width: 100%;
    padding: 12px 0;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

.cart-quantity  {
    width: 24px;
    top: -10px;
    right: -6px;
    position: absolute;
    background-color: #f23e40;
    line-height: 0.8;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--yellow-color);

    p {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 500;
        color: #fff;
    }

    @include respond(phone) {
        width: 12px;
        height: 12px;
        top: -4px;
        right: -8px;
        line-height: 0.1;
        padding: 8px 10px 8px 6px;

        p {
            text-align: center;
            font-size: 0.7rem;
            font-weight: 500;
        }
    }
}

// Menu btn
.menu-btn {
    display: flex;
    background-color: var(--yellow-color);
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    border: 3px solid #000;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    box-shadow: 4px 4px 0px #000;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    @include respond(phone) {
        gap: 10px;
        padding: 8px 12px;
        box-shadow: 3px 3px 0px #000;
    }
}

.menu-btn:hover {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 #000;
}

.menu-text {
    font-size: 1.2rem;
    font-weight: 600;

    @include respond(phone) {
        font-size: 0.9rem;
    }
}

.burger-icon-wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 1px;
    position: relative;
    width: 40px;

    @include respond(phone) {
        width: 30px;
    }
}

.burger-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mega-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--pink-color);
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: 99;
    border-bottom: 3px solid #000;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 40px;


    .pages-btn {
        list-style: none;
        padding: 8px;
        margin: 0;
        text-align: center;
        display: flex;
        gap: 32px;
        transform: translateY(0px);
        opacity: 0;
        transition: transform 1s linear, opacity 1s linear;

        .tab-btn {
            font-family: 'Realce', sans-serif;
            font-size: 7rem;
            font-weight: 500;
            margin: 1rem 0;
            cursor: pointer;
            text-decoration: none;
            color: #000;

            &:hover {
                color: var(--primary-color)
            }
        }
    }
    &.show {
            transform: translateY(0);

            .pages-btn {
                transform: translateY(-30px);
                opacity: 1;
            }
    }

    @include respond(phone) {
        padding-top: 120px;
        padding-bottom: 20px;

        .pages-btn {
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 0;
            .tab-btn {
                line-height: 0.5;
                font-size: 2rem;
            }
        }
    }
}

.socials {
    display: flex;
    gap: 15px;
}

.icon-social {
    background-color: var(--yellow-color);
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 2px 2px 0px #000;
    border: 1px solid #000;

    @include respond(phone) {
        width: 40px;
    }
}

.icon-social:hover {
    transform: translate(2px, 4px);
    box-shadow: 0 0 0 #000;
}

.overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: 50;
}