* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f04521;
    --yellow-color: #fed97c;
    --pink-color: #ffc1b0;
    --background-color: #f0f0f0;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
}