@import "../../../components/GlobalStyles/variables";

.footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 100px 0;

    @include respond(phone) {
        width: 100%;
        padding: 50px 0;
    }
}

.footer-wrapper {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-direction: column;
    gap: 150px;

    @include respond(phone) {
        width: 100%;
        padding: 12px 0;
        gap: 50px;
        margin: 0 40px;
    }
}

.top {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    line-height: 1;
    @include respond(phone) {
        img {
            width: 120px;
            height: 40px;
        }
    }
}

.footer-text {
    color: #fff;
    font-size: 1.2rem;

    @include respond(phone) {
        font-size: 1rem;
    }
}

.footer-go-up {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.icon-up {
    color: #fff;
    transition: transform 0.3s linear;

}
.icon-up:hover {
    transform: translateY(-5px);
    transition: transform 0.3s linear;
}

.bottom {
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
        flex-direction: column;
        gap: 20px;
    }
}

.pages {
    display: flex;
    gap: 15px;
    color: #fff;
    align-items: center;

    @include respond(phone) {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}
.pages a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;

    @include respond(phone) {
        
    }
}
.pages a:hover {
    color: var(--yellow-color);
}

.socials {
    display: flex;
    gap: 15px;

    @include respond(phone) {
        justify-content: center;
    }
}

.icon {
    background-color: var(--yellow-color);
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 2px 2px 0px #fff;
    border: 1px solid #000;

    @include respond(phone) {
        width: 50px;
    }   
}

.icon:hover {
    transform: translate(2px, 4px);
    box-shadow: 0 0 0 #fff;
}